* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

html,body, .wrapper {
    background-color:white;
    height: 100%;
    height: 100vh;
    max-height: 100%;
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

header{
    display: flex;
    padding: 15px 3%;
    justify-content: space-between;
    align-items: center;
}

header>nav{
    display: flex;
}

header>nav>a{
    display: inline;
    color: black;
    text-decoration: none;
    padding-left: 15px;
}

header>nav>a:last-child{
    color:blue
}

header>nav>a:nth-child(2){
    color: dodgerblue;
}

.about_div {
    padding: 3% 3%;
    display: flex;
    flex-direction: column;
    background-color: #fafafa;
    text-align: center;
    margin: 0 3%;
    flex: 2;
}

.about_div>img {
    width: 100%;
    max-width: 400px;
    height: auto;
    margin: auto;
}
.description_div>h1{
    font-family: 'Righteous', cursive;
    font-size: 45pt;
}

.description_div>p{
    font-size: smaller;
}

.contact_btn{
    width: fit-content;
    padding: 1% 2%;
    border-color: deeppink;
    border-width: 0.1em;
    border-radius: 10px;
    border-style: solid;
    text-decoration: none;
    color: #424242;
    margin: auto;
    font-weight: bolder;
}

footer{
    background-color: pink;
    margin-top: 20px;
    padding: 1.5% 2%;
}

footer>p{
    text-align: center;
    font-size: smaller;
    margin-bottom: 20px;   
}

.support_links{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.support_links>a{
    text-align: center;
    margin: auto;
}

.support_links>a>img{
    width: 30%;
    max-width: 400px;
    height: auto;
    margin: auto;
}

.support_links>a:nth-of-type(2)>img{
    width: 60%;
    max-width: 400px;
    height: auto;
    margin: auto;
}

.class_form{
    display: flex;
}

.form_container{
    display: flex;
    flex-direction: column;
    padding: 3% 3%;
    flex: 2;
}

.form_container>h3{
    text-align: align;
    margin-bottom: 20px;
}

.contact_form>p{
    display: flex;
    flex-direction: column;
}

.contact_form>p>label{
    font-size: smaller;
    margin-top: 20px;
    margin-bottom: 5px;
}

.contact_form>p:first-of-type>label{
    margin-top: 0;
}

.contact_form>p>input{
    border: solid 1px #757575;
    background-color: #fafafa;
    padding: 5px 10px;
    outline-color: pink;
}

.contact_form>p>textarea{
    border: solid 1px #757575;
    background-color: #fafafa;
    padding: 5px 10px;
    outline-color: pink;
}

.contact_form>input {
    width: 100%;
    margin-top: 20px;
    padding: 5px 10px;
}